<main>
  <div class="container">
    <section class="magazine-section my-5">

      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center my-5">Details of ours capsules</h2>
      <!-- Section description -->
      <p class="text-center dark-grey-text w-responsive mx-auto mb-5">You can find here a lot of details of ours capsules.</p>

      <!-- Grid row -->
      <div class="row contentLaunch">
      
        <!-- Grid column -->
        <div class="col-lg-6 col-md-6 pad" *ngFor="let launch of launches | paginate: { itemsPerPage: 8, currentPage: p }">
      
          <!-- Featured news -->
          <div class="single-news mb-lg-0 mb-4">
      
            <!-- Image -->
            <div class="view overlay rounded-circle littleImg z-depth-1-half mb-4">
              <img class="img-fluid img-thumbnail rounded-circle" src="{{ launch.links.mission_patch }}" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!-- Data -->
            <div class="news-data d-flex justify-content-between">
              <a href="#!" class="deep-orange-text">
                <h6 class="font-weight-bold">
                  <i class="fa fa-rocket pr-2"></i>Launch</h6>
              </a>
              <p class="font-weight-bold dark-grey-text">
                <i class="fa fa-clock-o pr-2"></i><span class="badge badge-pill green">Launch date : {{ launch.launch_date_utc }}</span>
                in <span class="badge badge-pill blue">{{ launch.launch_year }}</span>
              </p>
            </div>
      
            <!-- Excerpt -->
            <h3 class="font-weight-bold dark-grey-text mb-3">
              <a>{{ launch.mission_name }}</a>
            </h3>
            <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">
               {{ launch.details }}
            </p>
      
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <div class="text-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </section>
  </div>
</main>