.contentLaunch{
    padding: 3% 0%;
    background: #8080801a; 
    margin-bottom: 2%;
    .littleImg{
        width: 140px;
        height: 140px;
        float: right;
    }
    .pad{
        padding: 4% 2%;
    }
}