  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="p-4">
      <a class="btn btn-outline-white" href="https://github.com/la-fine-equipe/spacex-angular" target="_blank" role="button">Repository
        <i class="fa fa-git-square ml-2 git"></i>
      </a>
    </div>
    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2018 Copyright:
      <a href="https://github.com/la-fine-equipe/spacex-angular" target="_blank"> La Fine Equipe </a>
    </div>
    <!--/.Copyright-->

  </footer>
