.yelIc{
    color: #ccac55 !important;
}

.listOfAd{
    display: inline-flex;
    padding-top: 4%;
}

.dis{
    display: inline-flex;
    .countR{
        width: 100%;
        button{
            font-size: 21px;
            border: 1px solid #ccac55 !important;
        }
    }
}