<main>
  <div class="container">
    <section class="magazine-section my-5">

      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center my-5">Details of {{ rocket.name }}</h2>
      <!-- Section description -->
      <p class="text-center dark-grey-text w-responsive mx-auto mb-5">
         {{ rocket.description }}
      </p>

      <!-- Grid row -->
      <div class="row pad">

        <!-- Grid column -->
        <div class="col-lg-12 col-md-12">

          <!-- Featured news -->
          <div class="single-news mb-4">

            <!-- Image -->
            <div class="view overlay rounded z-depth-1-half mb-4" style="margin-bottom:2%;">
              <img class="img-fluid" src="assets/rocket_details.png" style="min-width: 100%;">
              <a>
                <div class="mask rgba-white-slight waves-light waves-effect"></div>
              </a>
            </div>

            <!-- Data -->
            <div class="news-data d-flex justify-content-between">
              <a href="#!" class="light-blue-text">
                <h6 class="font-weight-bold">
                  <i class="fa fa-space-shuttle pr-2"></i>Rocket</h6>
              </a>
              <p class="font-weight-bold dark-grey-text">
                First flight : <span class="badge badge-pill green">{{ rocket.first_flight }}</span>
              </p>
              <p class="font-weight-bold dark-grey-text">
                Active :
                <span class="badge badge-pill if{{ rocket.active }}">{{ rocket.active }}</span>
              </p>
            </div>

            <!-- Excerpt -->
            <h3 class="font-weight-bold dark-grey-text mb-3">
              <a>By {{ rocket.company }}</a>
            </h3>
            <p class="dark-grey-text">
              We are here : <strong>{{ rocket.country }}</strong>
            </p>

          </div>
          <!-- Featured news -->

          <!-- Small news -->
          <div class="single-news">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-9">

                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">Engines</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    Type :
                    <a class="dark-grey-text">
                      {{ rocket.engines.type }}
                    </a><br>
                    Version :
                    <a class="dark-grey-text">
                       {{ rocket.engines.type }}
                    </a><br>
                    Propellant used :
                    <a class="dark-grey-text">
                      <span class="badge indigo darken-2">{{ rocket.engines.propellant_1 }}</span> &nbsp; <span class="badge indigo darken-2">{{ rocket.engines.propellant_2 }}</span>
                    </a>
                  </div>
                </div>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Small news -->

          <!-- Small news -->
          <div class="single-news">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-9">

                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">Mesures</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    Height :
                    <a href="#!" class="dark-grey-text">
                       {{ rocket.height.meters }}
                    </a><br>
                    Diameter :
                    <a href="#!" class="dark-grey-text">
                       {{ rocket.diameter.meters }}
                    </a>
                    <br>
                    Mass
                    <a href="#!" class="dark-grey-text">
                      {{ rocket.mass.kg }}
                    </a>
                  </div>
                </div>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Small news -->

          <!-- Small news -->
          <div class="single-news">
          
            <!-- Grid row -->
            <div class="row">
          
              <!-- Grid column -->
              <div class="col-md-9">
          
                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">Cost</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    Cost per launch :
                    <button class="btn btn-outline-info rounded-circle waves-effect waves-light">
                      {{ rocket.cost_per_launch }}$
                    </button>
                  </div>
                </div>
          
              </div>
              <!-- Grid column -->
          
            </div>
            <!-- Grid row -->
          
          </div>
          <!-- Small news -->

        </div>
        <!-- Grid column -->
      </div>
    </section>
  </div>
</main>