html,
body,
.view {
  height: 100%;
}

.rocketL{
  display: none !important;
}

/* Navbar animation */

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background-color: #1C2331;
}

/* Adding color to the Navbar on mobile */

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331 !important;
  }
}