<!-- Intro Section -->
<div class="view jarallax rocketL" data-jarallax='{"speed": 0.2}' style="background-image: url('assets/rocket.jpg');">
  <div class="full-bg-img mask rgba-white-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3">
        <div class="col-md-12 mb-3">
          <div class="intro-info-content text-center">
            <h1 class="display-3 mb-5 wow fadeInDown" data-wow-delay="0.3s">
              SPACE
              <span class="indigo-text font-bold">X</span>
            </h1>
            <h5 class="font-up mb-5 mt-1 font-bold wow fadeInDown subtitle" data-wow-delay="0.3s">
              SpaceX designs, manufactures and launches advanced rockets and spacecraft
            </h5>
            <a class="btn btn-outline-primary btn-rounded btn-lg wow fadeInDown waves-light waves-effect animated bounceInUp" href="#first" data-wow-delay="0.3s"
              mdbWavesEffect>
              Visits &nbsp;
              <i class="fa fa-rocket"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Main layout-->
<main>
  <div class="container">
    <!--Projects section v.2-->
    <section class="text-center" id="first">
    
      <!--Section heading-->
      <h2 class="font-weight-bold h1 py-5">
        <strong>All data of Space <span class="indigo-text font-bold">X</span></strong>
      </h2>
      <!--Section description-->
      <p class="grey-text pb-5 text-center mx-xl-5 px-xl-5">
        You can find here the category of Space X. Just click on the link to learn about it.
      </p>
    
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
    
        <!--Grid column-->
        <div class="col-lg-4 mb-3 animated slideInLeft">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2  waves-light" mdbWavesEffect>
            <img src="assets/company.jpg" class="img-fluid" alt="Sample project image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Excerpt-->
          <div class="card-body">
            <a href="" class="space-text">
              <h5>
                <i class="fa fa-home"></i> Company Data</h5>
            </a>
            <a routerLink="company" class="btn btn-outline-primary btn-rounded btn-md  waves-light" mdbWavesEffect> View more &nbsp;<i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-lg-4 mb-3 animated slideInDown">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2  waves-light" mdbWavesEffect>
            <img src="assets/rocket2.jpg" class="img-fluid" alt="Sample project image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Excerpt-->
          <div class="card-body">
            <a href="" class="space-text">
              <h5>
                <i class="fa fa-rocket"></i> Rocket Data</h5>
            </a>
            <a routerLink="rocket" class="btn btn-outline-primary btn-rounded btn-md  waves-light" mdbWavesEffect> View more &nbsp;<i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
        <!--Grid column-->

        
    
      </div>
      <!--Grid row-->
    
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
    
        <!--Grid column-->
        <div class="col-lg-4 mb-3 animated slideInRight">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2  waves-light" mdbWavesEffect>
            <img src="assets/launchpad.jpg" class="img-fluid" alt="Sample project image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Excerpt-->
          <div class="card-body">
            <a href="" class="space-text">
              <h5>
                <i class="fa fa-object-group"></i> Launchpad Data</h5>
            </a>
            <a routerLink="launchpad" class="btn btn-outline-primary btn-rounded btn-md  waves-light" mdbWavesEffect> View more &nbsp;<i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 mb-3 animated slideInDown">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2  waves-light" mdbWavesEffect>
            <img src="assets/launch.jpg" class="img-fluid" alt="Sample project image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Excerpt-->
          <div class="card-body">
            <a href="" class="space-text">
              <h5>
                <i class="fa fa-space-shuttle"></i> Launches</h5>
            </a>
            <a routerLink="launches" class="btn btn-outline-primary btn-rounded btn-md  waves-light" mdbWavesEffect> View more &nbsp;<i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 mb-3 animated slideInRight">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2  waves-light" mdbWavesEffect>
            <img src="assets/data.jpg" class="img-fluid" alt="Sample project image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Excerpt-->
          <div class="card-body">
            <a href="" class="space-text">
              <h5>
                <i class="fa fa-tasks"></i> Detailed Capsule Data</h5>
            </a>
            <a routerLink="detailed-capsule" class="btn btn-outline-primary btn-rounded btn-md  waves-light" mdbWavesEffect> View more &nbsp;<i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
        <!--Grid column-->
      </div>
      
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-lg-4 mb-3 animated slideInLeft">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2  waves-light" mdbWavesEffect>
            <img src="assets/detailed.jpg" class="img-fluid" alt="Sample project image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Excerpt-->
          <div class="card-body">
            <a href="" class="space-text">
              <h5>
                <i class="fa fa-tasks"></i> Detailed Core Data</h5>
            </a>
            <a routerLink="detailed-core" class="btn btn-outline-primary btn-rounded btn-md  waves-light" mdbWavesEffect> View more &nbsp;<i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 mb-3 animated slideInLeft">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2  waves-light" mdbWavesEffect>
            <img src="assets/capsule.jpg" class="img-fluid" alt="Sample project image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Excerpt-->
          <div class="card-body">
            <a href="" class="space-text">
              <h5>
                <i class="fa fa-sitemap"></i> Capsule Data</h5>
            </a>
            <a routerLink="capsule" class="btn btn-outline-primary btn-rounded btn-md  waves-light" mdbWavesEffect> View more &nbsp;
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
        <!--Grid column-->
    
      </div>
      <!--Grid row-->
    
    </section>
    <!--/Projects section v.2-->
  </div>
</main>
<!--Main layout-->