<main>
  <div class="container">
    <section class="my-5">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center my-5">Ours differents rockets</h2>
      <!-- Section description -->
      <p class="grey-text text-center w-responsive mx-auto mb-5">
        If you need to know something else about our rocket, just click on the button to acces to his details.
      </p>

      <!-- Grid row -->
      <div class="row">
        <div class="col-md-12 dis">
          <div class="col-md-4" *ngFor="let rocket of rockets">
            <div class="card card-cascade wider" >
              <div class="view gradient-card-header blue-gradient text-center">
                <h2 class="card-header-title mb-3">{{ rocket.name }}</h2>
                <p class="mb-0">
                  Type : {{ rocket.type }} <i class="fa fa-rocket mr-2"></i><br>
                  Cost per launch : {{ rocket.cost_per_launch }}$
                </p>
              </div>
              <div class="card-body text-center">
                <p class="card-text">
                  {{ rocket.description }}
                </p>
                <a routerLink="/rocket/{{ rocket.id }}" class="btn btn-outline-info waves-effect waves-light">
                  Read more &nbsp;<i class="fa fa-angle-double-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
