.rocketL {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/93.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
    background-attachment: fixed;
    background-size: cover;
    .btn-outline-primary {
      border: 2px solid #fff !important;
      color: #fff !important;
    }
}

section {
  padding: 3% 0%;
}

.space-text{
    color: #3569a4;
}

.subtitle {
  color: #fff !important;
}
